/*{
	outline: red solid 1px;
}*/
.col-sm-12{
	width: 100%;
	height: 100px;
	background-color: black;
}
.contenedor{
	width: 1000px;
	margin: 0 auto;
}
.listas a :hover
{
    color:red;
    font-size: 15px;
}
.listas li
{
	list-style: none;
	padding: 0  10px;
	display: inline-block;
	margin: 0;
}
.listas a
{
	text-decoration:none;
	color:black;
	border-right: 0px solid black;
	transition:all 2s;
	color: white;
}
.listas{
	margin-left: 900px;
	padding-top: 20px;
}
.more img, {
	max-width: 80%;
}
.btn{
	border-radius: 30%;
	width: 100px;
	height: 35px;
}
.pie-pagina{
	width: 100%;
	height: 300px;
}